.header {
  border-bottom: 1px solid var(--border-header);

  .container {
    display: flex;
    align-items: center;
  }

  .site-navigation {
    display: flex;
    align-items: center;
  }
}

.header-link {
  display: inline-block;

  color: var(--first-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-header .header-link {
  color: var(--second-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.site-nav {
  display: flex;

  .item {
    position: relative;
  }

  .item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts-header {
  display: flex;
  margin-left: auto;

  .item:not(:last-child) {
    margin-right: 50px;
  }
}

.item > .header-link.icon {
  display: flex;
  align-items: center;
}

.icon-header {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .header-link:hover &,
  .header-link:focus & {
    fill: var(--accent-color);
  }
}
